@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600;1,700&family=Lato:ital@1&family=Pacifico&family=Roboto+Condensed&family=Ubuntu:ital,wght@1,700&display=swap');

// Declaring of colors used
:root {
    --text-color: #454545;
    --btn-color:  #462686;
    --btn-color-hover:  #835ece;
    --btn-text: #ffffff;
    --font-family: 'Roboto Condensed', sans-serif;
}

  /* NAVBAR STYLING */
  .navbar .container {
      margin: auto;
      max-width: 95%;
  }

  .navbar-brand img {
    max-width: 140px;
    max-height: 80px;
    margin-right: 50px;
  }

  .navbar-toggler {
    background-color: var(--btn-color);
    color: var(--btn-text);
  }
  
  .nav-item a {
    font-size: 16px;
    color: var(--text-color);
    font-family: var(--font-family);
  }

  .nav-item a:hover {
      color: var(--btn-color);
  }

  // Dropdown Menu Styling
  .dropdown-menu {
    border: none;
  }

  #drop-display {
    margin: auto;
    max-width: 90%;
    display: flex;
    flex-basis: 35%;
    justify-content: space-around;
    align-items: center;
  }

  .dropdown-item {
    margin-top: 15px;
    display: flex;
  }

  .drop-icon {
    color: var(--btn-color);
    margin-right: 8px;
  }

  .drop-desc {
    font-family: var(--font-family);
    line-height: 1.4;
    color: #333333;
  }

  .drop-desc h3 {
    font-size: 18px;
    font-weight: bold;
  }

  .drop-desc p {
    font-size: 15px;
  }
  
  .login {
    text-decoration: none;
    font-size: 16px;
    color: var(--text-color);
    font-family: var(--font-family);
  }
  
  .login:hover {
    text-decoration: none;
    color: var(--btn-color);
  }
  
  .form-inline .btn {
    background-color: var(--btn-color);
    color: var(--btn-text);
    font-size: 12px;
    font-family: var(--font-family);
    padding: 8px 19px;
    border-radius: 17px;
    transition: all 300ms ease-in;
  }
  
  .btn:hover {
    background-color: var(--btn-color-hover);
    color: var(--btn-text);
  }