@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600;1,700&family=Lato:ital@1&family=Pacifico&family=Roboto+Condensed&family=Ubuntu:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
// Declaring of colors used
:root {
    --text-color: #454545;
    --btn-color:  #462686;
    --btn-color-hover:  #835ece;
    --btn-text: #ffffff;
    --font-family: 'Open Sans', sans-serif;
}

  /* NAVBAR STYLING */
  header {
    max-height: 72px;
    margin-bottom: 0;
  }

  .navbar .container {
      margin: auto;
      max-width: 95%;
  }

  .navbar-brand img {
    max-width: 160px;
    max-height: 80px;
    margin-right: 50px;
  }

  .navbar-toggler {
    background-color: var(--btn-color);
    color: var(--btn-text);
  }
  
  .nav-item a {
    font-size: 14px;
    color: var(--text-color);
    font-family: var(--font-family);
  }

  .nav-item a:hover {
      color: var(--btn-color);
  }

  // Dropdown Menu Styling
  .dropdown-menu {
    border: none;
    padding-top: 20px;
  }

  #drop-display {
    margin: 0 auto;
    max-width: 90%;
    display: flex;
    flex-basis: 35%;
    justify-content: space-around;
    align-items: center;
  }

  .dropdown-item {
    margin-top: 15px;
    display: flex;
  }

  .drop-icon {
    color: var(--btn-color);
    margin-right: 8px;
  }

  .drop-desc {
    font-family: var(--font-family);
    line-height: 1.4;
    color: #333333;

    h3 {
      font-size: 15px;
      font-weight: bold;
    }

    p {
      font-size: 13px;
    }
  }
  
  .login {
    text-decoration: none;
    font-size: 14px;
    color: var(--text-color);
    font-family: var(--font-family);
  }
  
  .login:hover {
    text-decoration: none;
    color: var(--btn-color);
  }
  
  .form-inline .free {
    background-color: var(--btn-color);
    color: var(--btn-text);
    font-size: 12px;
    font-family: var(--font-family);
    padding: 8px 19px;
    border-radius: 17px;
    transition: all 300ms ease-in;
  }
  
  .free:hover {
    background-color: var(--btn-color-hover);
    color: var(--btn-text);
  }

  // FOOTER STYLING
  footer {
    display: grid;
    grid-template-columns: 2fr 4fr;
    padding: 20px 15px;

  .section-a {
    margin: 15px 45px;
    
    img {
      max-width: 160px;
      max-height: 80px;
    }

    #p1 {
      font-family: var(--font-family);
      padding-top: 15px;
      color: #454545;
      font-size: 18px;
    }

    #p2 {
      font-family: var(--font-family);
      font-size: 12px;
      padding-top: 5px;
      color: #01001D;
    }
  }

  .section-a-social {
    font-family: var(--font-family);
    margin: 20px 0;
    padding-top: 30px;

    #p3 {
      font-size: 12px;
    }
    
    #p4 {
      font-size: 20px;
    }

    .social-links i {
      font-size: 18px;
      padding: 0 4px;
    }
  }

  .section-b {
    select {
      width: 30%;
      margin-left: auto;
      margin-right: 10px;
      border: 1px solid var(--btn-color);
      font-family: var(--font-family);
      font-size: 14px;
      font-weight: bold;
      color: var(--btn-color);
      border-radius: 5px;
    }

    .footer-list-grid {
      display: grid;
      grid-template-columns: 2fr 2fr 3fr 2fr;
      margin-top: 60px;
    }
  }

  .footer-list {
    h3 {
      font-family: var(--font-family);
      font-size: 15px;
      font-weight: bold;
    }

    ul li {
      list-style: none;
      font-family: var(--font-family);
      font-size: 13px;
      padding: 5px 2px;
  
      a:hover {
        color: #333333;
      }
    }
  }

  .copyright-section {
    hr {
      width: 100%;
    }

    p{
      font-family: var(--font-family);
      font-size: 12px;
      color: #01001D 60%;
      padding-top: 5px;
      padding-left: 5px;
    }
  }
}