@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600;1,700&family=Lato:ital@1&family=Pacifico&family=Roboto+Condensed&family=Ubuntu:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --text-color: #454545;
  --btn-color:  #462686;
  --btn-color-hover:  #835ece;
  --btn-text: #ffffff;
  --font-family: 'Open Sans', sans-serif;
}

/* NAVBAR STYLING */
header {
  max-height: 72px;
  margin-bottom: 0;
}

.navbar .container {
  margin: auto;
  max-width: 95%;
}

.navbar-brand img {
  max-width: 160px;
  max-height: 80px;
  margin-right: 50px;
}

.navbar-toggler {
  background-color: var(--btn-color);
  color: var(--btn-text);
}

.nav-item a {
  font-size: 14px;
  color: var(--text-color);
  font-family: var(--font-family);
}

.nav-item a:hover {
  color: var(--btn-color);
}

.dropdown-menu {
  border: none;
  padding-top: 20px;
}

#drop-display {
  margin: 0 auto;
  max-width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown-item {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.drop-icon {
  color: var(--btn-color);
  margin-right: 8px;
}

.drop-desc {
  font-family: var(--font-family);
  line-height: 1.4;
  color: #333333;
}

.drop-desc h3 {
  font-size: 15px;
  font-weight: bold;
}

.drop-desc p {
  font-size: 13px;
}

.login {
  text-decoration: none;
  font-size: 14px;
  color: var(--text-color);
  font-family: var(--font-family);
}

.login:hover {
  text-decoration: none;
  color: var(--btn-color);
}

.form-inline .free {
  background-color: var(--btn-color);
  color: var(--btn-text);
  font-size: 12px;
  font-family: var(--font-family);
  padding: 8px 19px;
  border-radius: 17px;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.free:hover {
  background-color: var(--btn-color-hover);
  color: var(--btn-text);
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 4fr;
      grid-template-columns: 2fr 4fr;
  padding: 20px 15px;
}

.section-a {
  margin: 15px 45px;
}

.section-a img {
  max-width: 160px;
  max-height: 80px;
}

.section-a #p1 {
  font-family: var(--font-family);
  padding-top: 15px;
  color: #454545;
  font-size: 18px;
}

.section-a #p2 {
  font-family: var(--font-family);
  font-size: 12px;
  padding-top: 5px;
  color: #01001D;
}

.section-a-social {
  font-family: var(--font-family);
  margin: 20px 0;
  padding-top: 30px;
}

.section-a-social #p3 {
  font-size: 12px;
}

.section-a-social #p4 {
  font-size: 20px;
}

.section-a-social .social-links i {
  font-size: 18px;
  padding: 0 4px;
}

.section-b select {
  width: 30%;
  margin-left: auto;
  margin-right: 10px;
  border: 1px solid var(--btn-color);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: bold;
  color: var(--btn-color);
  border-radius: 5px;
}

.section-b .footer-list-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 3fr 2fr;
      grid-template-columns: 2fr 2fr 3fr 2fr;
  margin-top: 60px;
}

.footer-list h3 {
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: bold;
}

.footer-list ul li {
  list-style: none;
  font-family: var(--font-family);
  font-size: 13px;
  padding: 5px 2px;
}

.copyright-section hr {
  width: 100%;
}

.copyright-section p {
  font-family: var(--font-family);
  font-size: 12px;
  color: #01001D 60%;
  padding-top: 5px;
  padding-left: 5px;
}

#main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (4fr)[2];
      grid-template-columns: repeat(2, 4fr);
  margin: 20px 0px;
  background-color: #f3f3f3;
}

.section-1 {
  margin: 120px 45px;
  padding: 50px 50px 0px 50px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.08);
  max-height: 75%;
}

.section-1 form {
  padding-bottom: 0;
}

form label {
  font-family: var(--font-family);
}

.section-1 input,
.section-1 select,
.section-1 textarea {
  border: 1px solid rgba(21, 11, 40, 0.7);
  border-radius: 5px;
  font-size: 13px;
  color: #ccc;
}

.section-1 form .btn {
  font-family: var(--font-family);
  background-color: var(--btn-color);
  color: var(--btn-text);
  width: 100%;
  text-align: center;
  border-radius: 50px;
}

.section-2 {
  margin: 75px 20px;
  padding: 30px;
  line-height: 1.4;
}

.title h4 {
  font-family: var(--font-family);
  color: #333333;
  font-size: 25px;
  line-height: 48px;
  margin: 40px 0;
}

.title p {
  font-family: var(--font-family);
  color: #454545, 80%;
}

.body h4 {
  font-family: var(--font-family);
  color: #333333;
  font-size: 25px;
  padding: 30px 0;
}

.section-2 .body-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.body-grid .box {
  font-family: var(--font-family);
  padding: 10px;
  line-height: 1.6;
}

.body-grid .box h3 {
  font-size: 13px;
  font-weight: bold;
}

#landing-section {
  margin: 120px;
  text-align: center;
}

#landing-section .vector {
  background: url("../assets/images/Vector 1.svg") no-repeat center center/cover;
}

#landing-section .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 96% 4%;
      grid-template-columns: 96% 4%;
}

#landing-section h2 {
  font-family: 'Montserrat', sans-serif;
  color: var(--btn-color);
  font-weight: bolder;
  font-size: 40px;
  padding: 10px 0;
}

#landing-section img {
  max-width: 150px;
}

#landing-section p {
  padding: 15px 0;
}

#landing-section a {
  background-color: var(--btn-color);
  color: var(--btn-text);
  font-size: 12px;
  font-family: var(--font-family);
  padding: 12px 22px;
  border-radius: 17px;
  border: none;
}

#landing-section .grid-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  grid-gap: 700px;
}

#landing-section .grid-1 a {
  display: none;
}

#benefit-section {
  margin-top: 30px;
  background-color: #7837F8;
  padding-top: 10px;
  min-height: 350px;
  color: var(--btn-text);
  font-family: 'Montserrat', sans-serif;
}

#benefit-section h2 {
  font-size: 20px;
  text-align: center;
  padding: 40px;
}

#benefit-section .benefit-section-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 3fr;
      grid-template-columns: 6fr 3fr;
}

#benefit-section .benefit-section-grid .benefit-a p {
  padding-top: 15px;
}

#benefit-section .benefit-section-grid .benefit-b ul li {
  list-style-type: none;
  padding-top: 7px;
}

#map-section {
  background-color: rgba(204, 204, 204, 0.1);
  text-align: center;
  padding: 50px;
}

#map-section h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 22px;
}

#map-section p {
  padding: 20px;
}

#map-section img {
  max-width: 400px;
  max-height: 500px;
}

#testimony-section {
  font-family: 'Montserrat', sans-serif;
  margin-top: 80px;
  text-align: center;
}

#testimony-section p {
  line-height: 1.5;
}

#testimony-section img {
  max-width: 200px;
  padding-top: 30px;
  padding-bottom: 40px;
}

#contact-sales {
  background-color: rgba(204, 204, 204, 0.1);
  text-align: center;
  padding: 120px;
}

#contact-sales h2 {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

#contact-sales a {
  background-color: var(--btn-color);
  color: var(--btn-text);
  font-size: 12px;
  font-family: var(--font-family);
  padding: 12px 22px;
  border-radius: 17px;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  margin-top: 25px;
}

.login-container {
  margin: 90px;
}

.login-container .login-header {
  text-align: center;
}

.login-header h2 {
  font-family: 'Roboto-Condensed', sans-serif;
  color: #333333;
  font-size: 27px;
}

.login-header p {
  font-size: 12px;
}

.login-container form {
  margin: auto;
  padding: 10px;
  max-width: 50%;
}

.login-container form label {
  font-size: 12px;
}

.login-container form input {
  border: 1px solid rgba(21, 11, 40, 0.7);
  border-radius: 5px;
}

.login-container form button {
  width: 100%;
  text-align: center;
  background-color: var(--btn-color);
  border-radius: 50px;
  color: var(--btn-text);
  font-family: var(--font-family);
}

form .forgot-password {
  text-align: center;
  padding-top: 8px;
}

.forgot-password a {
  color: var(--btn-color);
  font-size: 13px;
}

form .social-login {
  font-family: var(--font-family);
  padding-top: 17px;
  font-size: 13px;
  font-weight: bold;
}

.social-login i {
  font-size: 17px;
  padding: 3px;
}

.copyright p {
  font-family: var(--font-family);
  text-align: center;
  padding-top: 70px;
  font-size: 12px;
  color: #01001D 60%;
}

/* GLOBAL STYLING FOR ALL PAGES*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--font-family);
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

#first-section {
  margin: 60px 30px;
}

#first-section .first-section-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 2fr;
      grid-template-columns: 4fr 2fr;
}

.first-section-a {
  padding: 30px 5px;
}

.first-section-a h2 {
  font-family: 'Montserrat', sans-serif;
  color: var(--btn-color);
  font-weight: bold;
}

.first-section-a p {
  margin-top: 35px;
  font-family: 'Montserrat', sans-serif;
  color: #5f5d5d;
  font-weight: lighter;
}

.first-section-a a {
  margin-top: 15px;
  background-color: var(--btn-color);
  color: var(--btn-text);
  font-size: 12px;
  font-family: var(--font-family);
  padding: 14px 20px;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  width: 170px;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
}

.first-section-b img {
  max-width: 550px;
  max-height: 550px;
}

#second-section h2 {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
}

.second-section-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  margin: 30px 0;
  padding: 8px 0;
}

.second-section-grid #paystack img {
  max-width: 170px;
  max-height: 120px;
}

.second-section-grid #egyptair img {
  max-width: 230px;
  max-height: 120px;
}

.second-section-grid .box img {
  max-width: 100px;
  max-height: 100px;
}

#third-section ul {
  margin-top: 100px;
  border: 1px solid #454545;
  border-radius: 5px;
}

#third-section ul li #isactive {
  background-color: var(--btn-color);
  color: var(--btn-text);
}

#third-section .third-section-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 2fr;
      grid-template-columns: 4fr 2fr;
  margin-top: 120px;
}

.third-section-a {
  padding: 30px 5px;
}

.third-section-a h2 {
  margin-top: 60px;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  font-weight: bold;
}

.third-section-a p {
  margin-top: 35px;
  font-family: 'Montserrat', sans-serif;
  color: #5f5d5d;
  font-weight: lighter;
}

.third-section-b img {
  max-width: 550px;
  max-height: 550px;
}

#special-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

#special-section h2 {
  padding-top: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

#special-section .box-grid-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
  margin-top: 60px;
}

#special-section .box-grid-1 img {
  max-width: 50px;
  max-height: 50px;
}

#special-section .box-grid-2 {
  display: -ms-grid;
  display: grid;
  margin-top: 60px;
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
}

#special-section .box-grid-2 img {
  max-width: 50px;
  max-height: 50px;
}

#fourth-section .fourth-section-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 4fr;
      grid-template-columns: 2fr 4fr;
  grid-gap: 80px;
  margin-top: 120px;
}

.fourth-section-a img {
  max-width: 500px;
  max-height: 500px;
}

.fourth-section-b {
  padding: 30px 5px;
}

.fourth-section-b h2 {
  margin-top: 60px;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  font-weight: bold;
}

.fourth-section-b p {
  margin-top: 35px;
  font-family: 'Montserrat', sans-serif;
  color: #5f5d5d;
  font-weight: lighter;
}

#fifth-section .fifth-section-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 2fr;
      grid-template-columns: 4fr 2fr;
  margin-top: 120px;
}

.fifth-section-a {
  padding: 30px 5px;
}

.fifth-section-a h2 {
  margin-top: 60px;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  font-weight: bold;
}

.fifth-section-a p {
  margin-top: 35px;
  font-family: 'Montserrat', sans-serif;
  color: #5f5d5d;
  font-weight: lighter;
}

.fifth-section-b img {
  max-width: 550px;
  max-height: 550px;
}

#nineth-section {
  margin-top: 30px;
  background-color: #7837F8;
  text-align: center;
  padding-top: 90px;
  min-height: 300px;
  font-family: 'Montserrat', sans-serif;
}

#nineth-section h2 {
  color: var(--btn-text);
}

#nineth-section p {
  color: var(--btn-text);
}

#nineth-section a {
  background-color: var(--btn-color);
  color: var(--btn-text);
  font-size: 12px;
  font-family: var(--font-family);
  padding: 10px 22px;
  border-radius: 17px;
  border: none;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
/*# sourceMappingURL=style.css.map */