@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600;1,700&family=Lato:ital@1&family=Pacifico&family=Roboto+Condensed&family=Ubuntu:ital,wght@1,700&display=swap");
:root {
  --text-color: #454545;
  --btn-color:  #462686;
  --btn-color-hover:  #835ece;
  --btn-text: #ffffff;
  --font-family: 'Roboto Condensed', sans-serif;
}

/* NAVBAR STYLING */
.navbar .container {
  margin: auto;
  max-width: 95%;
}

.navbar-brand img {
  max-width: 140px;
  max-height: 80px;
  margin-right: 50px;
}

.navbar-toggler {
  background-color: var(--btn-color);
  color: var(--btn-text);
}

.nav-item a {
  font-size: 16px;
  color: var(--text-color);
  font-family: var(--font-family);
}

.nav-item a:hover {
  color: var(--btn-color);
}

.dropdown-menu {
  border: none;
}

#drop-display {
  margin: auto;
  max-width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown-item {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.drop-icon {
  color: var(--btn-color);
  margin-right: 8px;
}

.drop-desc {
  font-family: var(--font-family);
  line-height: 1.4;
  color: #333333;
}

.drop-desc h3 {
  font-size: 18px;
  font-weight: bold;
}

.drop-desc p {
  font-size: 15px;
}

.login {
  text-decoration: none;
  font-size: 16px;
  color: var(--text-color);
  font-family: var(--font-family);
}

.login:hover {
  text-decoration: none;
  color: var(--btn-color);
}

.form-inline .btn {
  background-color: var(--btn-color);
  color: var(--btn-text);
  font-size: 12px;
  font-family: var(--font-family);
  padding: 8px 19px;
  border-radius: 17px;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.btn:hover {
  background-color: var(--btn-color-hover);
  color: var(--btn-text);
}

#main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (4fr)[2];
      grid-template-columns: repeat(2, 4fr);
  margin: 20px 0px;
  background-color: #f3f3f3;
}

.section-1 {
  margin: 120px 45px;
  padding: 50px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.08);
}

form label {
  font-family: var(--font-family);
}

.section-1 input,
.section-1 select,
.section-1 textarea {
  border: 1px solid rgba(21, 11, 40, 0.7);
  border-radius: 5px;
  font-size: 15px;
  color: #ccc;
}

.section-1 form .btn {
  font-family: var(--font-family);
  background-color: var(--btn-color);
  color: var(--btn-text);
  width: 100%;
  text-align: center;
  border-radius: 50px;
}

.section-2 {
  margin: 130px 20px;
  padding: 30px;
  line-height: 1.4;
}

.title h4 {
  font-family: var(--font-family);
  color: #333333;
  font-size: 30px;
  line-height: 48px;
  margin: 40px 0;
}

.title p {
  font-family: var(--font-family);
  color: #454545, 80%;
}

.body h4 {
  font-family: var(--font-family);
  color: #333333;
  font-size: 30px;
  padding: 30px 0;
}

.section-2 .body-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.body-grid .box {
  font-family: var(--font-family);
  padding: 10px;
  line-height: 1.6;
}

.body-grid .box h3 {
  font-size: 20px;
  font-weight: bold;
}

/* GLOBAL STYLING FOR ALL PAGES*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  background-color: #ffffff;
}
/*# sourceMappingURL=style.css.map */